body {
    background-color: rgb(253,251,251)
}

#cabecalho {
    position: fixed;
    top: 0;
} 

#minha_foto {
width: 300px;
padding-top: 100px;
margin-right:100px;
border: 10px;
}
.icone {
    height: 30px;
}
* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    

}
